.create-post {
    display: flex;
    gap: 0.5%;
    width: 100%;
}

.post.content>.form-control {
    border: none;
    box-shadow: none;
    resize: none;
    max-height: 35em;
}

.post-form>*{
    display: flex;
    flex-direction: column;
}

.post.submit {
    align-self: flex-end;
}