.login {
    gap: 15px;
}

.form-wrapper,
.signup-wrapper{
    border: 1px solid grey;
}

.signup-wrapper {
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}

.form-wrapper>*{
    width: 100%;
}

.form-wrapper>.title {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 12px;
}

.wrapper {
    position: relative;
}

.wrapper>.text-muted {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: small;
    transition-property: all;
    transition-duration: 0.2s;
}

.login>.form-wrapper,
.login>.signup-wrapper {
    width: 350px !important;
    margin-left: 0;
}

.divider {
    position: relative;
    height: 3rem;
}

.divider>.line:first-child {
    position: absolute;
    top: 50%;
    padding-bottom: 1rem;
    transform: translateY(-50%);
}

.divider>.line:last-child {
    position: absolute;
    top: 50%;
    right: 0%;
    padding-bottom: 1rem;
    transform: translateY(-50%);
}

.divider>.txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    height: 38px;
    font-size: small;
}

.form-control:focus {
    box-shadow: none;
    border-color: black;
}

.placeholder-top {
    left: 12px !important;
    top: 0% !important;
    transform: translateY(0%) !important;
    font-size: x-small !important;
    padding-top: 3px;
}

.has-input {
    padding-bottom: 0px;
    padding-top: 12px !important;
}


