
.post.container {
    max-width: 600px;
}

.post.status {
    display: flex;
}

.post.author {
    gap: 0.75rem;
}

.post.status>* {
    padding-right: 1rem;
}

.post.content {
    font-size: large;
}

.post.react {
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
}

.post.react>* {
    font-size: x-large;
}

.react-wrapper {
    position: relative;
    border-radius: 50%;
    width: 38.5px;
    height: 38.5px;
    font-size: 22.5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-wrapper:first-of-type:hover{
    color: rgb(236, 0, 91);
    background-color: rgb(253, 235, 235);
}

.react-wrapper:nth-of-type(2):hover{
    color: rgb(81, 104, 211);
    background-color: rgb(235, 255, 255);
}

.react-wrapper:last-of-type:hover{
    color: rgb(14, 94, 0);
    background-color: rgb(244 247 243);
}

.bt {
    border-top: 1px solid grey;
}

.bb {
    border-bottom: 1px solid gray;
}