.posts {
    margin: 0;
}

.posts>.header {
    font-size: 20px;
    font-weight: 700;
    height: 53px;
    display: flex;
    align-items: center;
}

.posts>* {
    padding-left: 12px;
    padding-right: 12px;
}
