.form-container>* {
    display: flex;
    flex-direction: column;
}

.userpost {
    padding-bottom: 12px;
}

.userpost::after {
    content: "";
    width: 100%;
    display: block;
    height: 1px;
    background-color: lightgray;
    margin-top: 16px;
}

.form-control#my-message{
    border: none;
    font-size: 20px;
    resize: none;
    height: 42px;
}

.form-container>*>.submit {
    margin-top: 12px;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 87.97px;
    height: 36px;
    border: none;
    color: white;
    font-weight: 550;
    background-color: lightseagreen;
    border-radius: 9999px;
    
}