
.post.container {
    max-width: 600px;
}

.post.status {
    display: flex;
}

.post.status>* {
    display: inline-flex;
}

.post.author {
    gap: 0.75rem;
}

.post.status>* {
    padding-right: 1rem;
}

.post.content {
    font-size: large;
}

.post.react {
    display: flex;
    font-size: 22px;
    justify-content: space-evenly;
}

.post.react>* {
    font-size: x-large;
}

.react-wrapper {
    position: relative;
    border-radius: 50%;
    width: 38.5px;
    height: 38.5px;
    font-size: 22.5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt {
    border-top: 1px solid rgba(202, 202, 202, 0.15);
}

.bb {
    border-bottom: 1px solid rgba(202, 202, 202, 0.15);
}
