.container>.wrapper>.title {
    display: inline-flex;
    margin: 0;
    font-size: x-large;
    padding: 0.75rem;
}

.container-fluid>.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(42, 52, 63, 0.555);
    border-radius: 24px;
    color: white;
    padding: 0.75rem;
}

.navbar-link {
    user-select: none;
}