.App>.main {
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(21, 32, 43);
    color: white;
}

.content.container {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.side-nav {
    border-left: 1px solid rgb(243, 243, 243);
}

.leftbar {
    position: relative;
}

.wrapper {
    margin-top: 2rem;
}

.row {
    flex-wrap: nowrap;
}

.btn:focus {
    box-shadow: none !important;
    background-color: #0d6efd !important;
}

a {
    text-decoration: none !important;
}

.container-fluid>.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(42, 52, 63, 0.555);
    border-radius: 24px;
    color: white;
    padding: 0.75rem;
}

@media (min-width: 768px) {
    .main {
        flex-basis: 600px;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .modal-container {
        width: 600px;
    }
}

@media (max-width: 1080px){
    .search-bar {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .navigation {
        flex-grow: 0;
        flex-basis: content;
        margin-left: 0;
    }
}