.App>.main {
    height: 100%;
    overflow-x: hidden;
    background-color: rgb(21, 32, 43);
    color: white;
}

.content.container {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.side-nav {
    border-left: 1px solid rgb(243, 243, 243);
}

.leftbar {
    position: relative;
}

.wrapper {
    margin-top: 2rem;
}

.row {
    flex-wrap: nowrap;
}

@media (min-width: 768px) {
    .main {
        flex-basis: 600px;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

@media (max-width: 1080px){
    .search-bar {
        display: none !important;
    }
}

@media (max-width: 1200px) {
    .navigation {
        flex-grow: 0;
        flex-basis: content;
        margin-left: 0;
    }
}