.navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navigation>.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(42, 52, 63, 0.555);
    border-radius: 24px;
}

.navigation>.wrapper>* {
    margin: 1rem;
}

.navigation>.wrapper>*:hover {
    background-color: rgba(246, 248, 250, 0.1);
    border-radius: 48px;
}

.img-nav,
.navbar-link{
    text-decoration: none;
    display: inline-block;
}

.navigation>.wrapper>*{
    display: inline-flex;
    gap: 1rem;
    font-size: x-large;
    padding: 0.75rem;
}

.img-nav {
    vertical-align: text-bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.logo>.img-nav>* {
    color: rgb(69, 207, 253);
}

.navbar-link {
    color: white;
}

svg {
    color: white;
}
